/*RESET CSS*/
{
	margin: 0;
	padding: 0;
}
/*BODY*/
body{
	font-family: "Roboto", sans-serif;
	padding-top: 15px;
}
.dangnhap{
	background: #3c0c4a;
	height: 30px;
    padding: 6px 29px 0 0;
}
.log-in{
	float: right;
}
.cart{
	float: right;
    margin-right: 38px;
    box-shadow: 1px 0px 0px #FFF;
    padding-right: 41px;
}
.log-in a{
	color: #fff;
	text-decoration: none;
}
.cart a{
	color: #fff;
	text-decoration: none;
}
.menu-row{
	background: #f4f4f4;
	height: 500px;
}
.row{
	width: 100%;
}

.a, .navbar-brand{
	margin-left: 50px;
}
.b{
	background: #e6e6e6;
}

body a{
/*	color: #e563ab;*/
	text-decoration: none;
}
.product{
	
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product img{
	width: 280px;
	height: 280px;
}
.show{
	margin-bottom: 20px;
	text-align: center;
}
.show i{
	color: #e367b2;
}

.xemthem{
	background: #e367b2;
    border-radius: 5px;
    box-shadow: 0 -3px 0 0 #c27806 inset;
    color: #fff;
    display: block;
    margin: 18px auto;
    max-width: 300px;
    padding: 5px 10px;
    text-align: center;
    width: 100%;
}
.xemthem a{
	color: #fff;
	text-decoration: none;

}
.tintuc-img img{
	max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    width: 530px;
    height: 200px;

}
.tintuc-img, .thamgia-img{
	text-align: center;
	margin: 10px 10px;
	position: relative;
   /* overflow: hidden;*/
}
.thamgia-img{
	text-align: center;
	margin: 5px -3px;
	
	}
.thamgia-img img{
	transition: opacity 1s;
    opacity: 1;
    /*max-width: 100%;*/
    height: auto;
    display: inline-block;
    vertical-align: middle;
    width: 240px;
    height: 240px;
}
.row1,.footer{
	background: #3c0c4a;
	color: #fff;
	padding: 20px 20px;
}
.cuoi{
	background: #31093d;
	padding: 10px 0px;
}

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  height: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#navbar {
  background-color: #333;
}
.dangnhap-screen{
	width: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 40px;
	margin-left: 316px;
	

}
.sub{
	border-radius: 5px;
	background: #e367b2;
	color: #fff;
	padding:10px;

}
.bg-dark{
	    background: #fff!important;
}


.navbar-dark .navbar-toggler {
    color: rgba(0, 0, 0, 1);
    border-color: rgba(0, 0, 0, 1);
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(0,0,0,1);
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: red;
}
.navbar-dark .navbar-nav .nav-link:hover {
    display: block;
}
.navbar-toggler-icon{
	color:rgba(0,0,0,1);
}
.nav-item :hover>.dropdown-menu{
	display: block;
}
.navbar{
	width: 100%;
	height: 90px;
	
}
.nav-item{
	margin: 20px;
}
 .chitiet {
	display: none;
	background: #e263a8;
	color: #000;
}

.chitiet a {
	text-decoration: none;
	color: #000;
}

.show:hover .chitiet {
	display: block;
}



.thamgia {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

/* .show {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
 text-align: center;
}

.show:hover {
  -ms-transform: scale(1.09); IE 9
  -webkit-transform: scale(1.09); Safari 3-8
  transform: scale(1.09); 
} */
 
